@* Display list of books in the store. *@
@model List<SearchBook.Models.Book>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div><h1>Index - Book List</h1></div>
    <div>
        <h3>Please select the book you would like to view more details</h3>
    </div>

    <div class="row">

        @* Get each book from Model Book object*@
        @foreach (var book in Model)
        {  <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading" title="@book.title"> @Html.ActionLink(@book.title, "ABook", new { bookId = @book.Id })</div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">@book.authors</div>
            </div>
        </div>
        }

    </div>

</div>


